<mat-sidenav-container class="book-container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <button mat-flat-button [routerLink]="''">Books</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-flat-button [routerLink]="'add'">Add book</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
